.maintitle{
  font-size: 64px;
  font-family: "Sofia",Helvetica, Arial, sans-serif;
}

h1{
  margin: 0;
}

h2{
  text-align: center;
  font-size: 48px;
  margin: 0;
}

h3{
  border-top:2px solid red;
  padding: 16px 0 0 0;
  font-size: 32px;
  margin: 16px 0 0 0;
}

h4{
  font-size: 16px;
  margin: 0;
  color: grey;
}

.blog{
  font-family: "Quantico";
}

.date{
  padding-left: 10px;
  font-family: "Quantico";
}

a{
  text-decoration: none;
}

.normal_a{
  color: #900;
}

#change-site{
  position: fixed;
  bottom: 0;
  left: 0;

}

ul{
  list-style-type: none;
  padding: 0;
}

body{
  background-image: url("img/bg.jpg");
  background-size: cover;
}

#container{
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

#bottombar{
  text-align: right;
}

#bottomtext{
  text-align: right;
  padding-top: 20px;
  font-size: 8px;
}

#sidebar_button_m:hover #sidebar_text_m{
  color: white;
}


#sidebar_text_m{
  color: black;
}

#sidebar_button, #sidebar_button_m, #sidebar_button_n, #sidebar_button_t, #sidebar_button_p, #sidebar_button_s, #sidebar_button_h, #sidebar_button_hardver, #sidebar_button_web_dizajn, #sidebar_button_pong, #sidebar_button_toxic, #sidebar_button_list{
  border-style: solid;
  border-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  text-align: center;
  font-size: 32px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#sidebar_button:hover, #sidebar_button_m:hover, #sidebar_button_n:hover, #sidebar_button_t:hover, #sidebar_button_p:hover, #sidebar_button_s:hover, #sidebar_button_h:hover, #sidebar_button_hardver:hover, #sidebar_button_web_dizajn:hover, #sidebar_button_pong:hover, #sidebar_button_toxic:hover, #sidebar_button_list:hover{
  background-color: black;
}

#sidebar_button:hover #sidebar_text, #sidebar_button_m:hover #sidebar_text_m, #sidebar_button_n:hover #sidebar_text_n, #sidebar_button_t:hover #sidebar_text_t,#sidebar_button_p:hover #sidebar_text_p, #sidebar_button_s:hover #sidebar_text_s, #sidebar_button_h:hover #sidebar_text_h, #sidebar_button_hardver:hover #sidebar_text_hardver, #sidebar_button_web_dizajn:hover #sidebar_text_web_dizajn, #sidebar_button_pong:hover #sidebar_text_pong, #sidebar_button_toxic:hover #sidebar_text_toxic{
  color: white;
}
#sidebar_button_list:hover #sidebar_text_list{
  color: white;
}


#sidebar_text, #sidebar_text_m, #sidebar_text_n, #sidebar_text_t, #sidebar_text_p, #sidebar_text_s, #sidebar_text_h, #sidebar_text_hardver, #sidebar_text_web_dizajn, #sidebar_text_pong, #sidebar_text_toxic, #sidebar_text_list{
  color: black;
}
