*{
  margin: 0;
  padding: 0;
}

.player-img-1{
  width: 5vw;
  height: 5vw;
  position: absolute;

}

.player-img-2{
  width: 6.8vw;
  height: 6.8vw;
  position: absolute;

}

.player-img-3{
  width: 8.4vw;
  height: 8.4vw;
  position: absolute;

}
.player-img-4{
  width: 11.8vw;
  height: 11.8vw;
  position: absolute;

}
.player-img-5{
  width: 20em;
  height: 20em;
  position: absolute;

}

#player-1-1{
  top: 0.5em;
  left: 0.5em;
}
#player-2-1{
  top: 0.5em;
  left: 7em;
}
#player-3-1{
  top: 0.5em;
  left: 14.5em;
}
#player-4-1{
  top: 0.5em;
  left: 21em;
}
#player-1-2{
  top: 0.5em;
  left: 29.5em;
}
#player-2-2{
  top: 0.5em;
  left: 36em;
}
#player-3-2{
  top: 0.5em;
  left: 43.5em;
}
#player-4-2{
  top: 0.5em;
  left: 50em;
}
#player-winner-1{
  top: 8em;
  left: 3em;
}
#player-loser-1{
  top: 0em;
  left: 0em;
}
#player-winner-2{
  top: 8em;
  left: 17em;
}
#player-loser-2{
  top: 0em;
  left: 0em;
}
#player-winner-3{
  top: 8em;
  left: 32em;
}
#player-loser-3{
  top: 0em;
  left: 0em;
}
#player-winner-4{
  top: 8em;
  left: 46em;
}
#player-loser-4{
  top: 0em;
  left: 0em;
}
#player-winner-7{
  top: 18em;
  left: 9em;
}
#player-loser-7{
  top: 0em;
  left: 0em;
}
#player-winner-8{
  top: 18em;
  left: 38em;
}
#player-loser-8{
  top: 0em;
  left: 0em;
}
#player-winner-11{
  top: 31em;
  left: 22em;
}
#player-loser-11{
  top: 18em;
  left: 73em;
}
#player-winner-12{
  top: 18em;
  left: 95em;
}

#player-winner-13{
  top: 31em;
  left: 82em;
}

#player-winner-14{
  top: 35em;
  left: 50em;
}
